*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    /* STANDARD COLORS */
    --white: #FFF;
    /* LIGHT COLORS */
    --lightBlue: #9CAAD8;
    --lightGray: #A6ABBD;
    --lightPurple: #e2c2fd;
    --lightPink: #DA9AA2;
    /* DARK COLORS */
    --darkBlue: #424656;
    --darkGreen: #005A58;
}

.logout_container{
    position: absolute;
    top: 20px;
    right: 20px;
}
    .logout_container i{
        font-size: 30px;
        color: var(--darkBlue);
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-left: 20px;
    }
        .logout_container i:hover{
            color: var(--darkGreen);
            transition: all 0.3s ease-in-out;
        }

input.datetimeInput{
    padding: 5px 12px !important;
}

button{
    font-family: Arial, Helvetica, sans-serif;
}

div#todolist{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: var(--white);
}
    div.todolist_container{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        div.todolist_header{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: #f8f8f8;
            box-shadow: 0px 6px 22px var(--lightGray);
            padding: 20px;
            border-radius: 10px;
        }
            div.todolist_header_title{
                color: var(--darkBlue);
            }
            div.todolist_content{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px 0;
            }
                div.todolist_content form{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                }
                    div.edit_header{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                    }
                    div.edit_body{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 20px 0;
                    }
                        div.edit_body .list_item{
                            width: 90%;
                            border: none !important;
                            justify-content: space-between;
                        }
                    div.todolist_content input{
                        width: 90%;
                        padding: 7px 12px;
                        border: none;
                        background: transparent;
                        border-bottom: 2px solid var(--darkBlue);
                        outline: none;
                    }
                    div.todolist_content button{
                        padding: 7px 12px;
                        border: none;
                        background-color: var(--darkGreen);
                        color: #FFF;
                        outline: none;
                        margin-top: 20px;
                    }
    div#all_list_container{
        width: 100%;
    }
        div.list_container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            background-color: #f8f8f8;
            box-shadow: 0px 6px 22px var(--lightGray);
            margin: 20px 0;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
            div.list_container:hover{
                transform: scale(1.01);
                transition: all 0.3s ease-in-out;
            }
            div.list_header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--darkBlue);
            }  
                div.list_header_right{
                    display: flex;
                    align-items: center;
                }
                    div.list_header_right button{
                        background: transparent;
                        border: none;
                    }
                    div.list_header_right select{
                        padding: 5px 7px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid var(--darkBlue);
                        margin-left: 30px;
                        outline: none;
                    }
                div.list_header i{
                    cursor: pointer;
                    font-size: 20px;
                    margin-left: 30px;
                    color: var(--darkBlue)
                }
                div.list_header h2:first-letter{
                    text-transform: uppercase;
                }
            div.list_content{
                width: 100%;
                padding: 50px 0;
            }
                div.list_item{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 2px solid var(--darkBlue);
                }
                    div.list_item_status{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: row;
                    }
                        div.list_item_status div{
                            margin-left: 20px;
                        }
            div.list_footer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 10px 0;
            }
                div.list_footer form{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
                div.list_footer input{
                    width: 40%;
                    padding: 7px 12px;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid var(--darkGreen);
                    outline: none;
                }
                div.list_footer button{
                    padding: 7px 12px;
                    border: none;
                    background-color: var(--darkGreen);
                    color: #FFF;
                    outline: none;
                }
        
div.login_container{
    max-width: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    box-shadow: 0px 6px 22px var(--lightGray);
    padding: 40px 0;
}
    div.login_container h2{
        color: var(--darkGreen);
    }
    div.login_container form{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;
    }
        div.form_item{
            width: 80%;
            padding: 10px 0;
        }
            div.form_item input{
                width: 100%;
                border: none;
                border-bottom: 2px solid var(--darkGreen);
                background: transparent;
                padding: 7px 10px;
                outline: none;
            }
            div.form_item button{
                width: 100%;
                padding: 12px 20px;
                border: none;
                background-color: var(--darkGreen);
                color: white;
                font-weight: bold;
                letter-spacing: 1px;
                transition: all 0.3s ease-in-out;
                outline: none;
                cursor: pointer;
            }
                div.form_item button:hover{
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
div.admin_user_container{
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f8f8f8;
    box-shadow: 0px 6px 22px var(--lightGray);
    padding: 20px;
}
    div.admin_users{
        width: 100%;
        margin-top: 20px;   
    }
        div.admin_user_item{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            padding: 8px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
        }
            div.admin_user_item:hover{
                transform: scale(1.02);
                background-color: var(--lightPurple);
                transition: all 0.3s ease-in-out;
            }
            div.admin_user_status{
                width: 50px;
            }
            div.admin_user_roles select{
                border: none;
                border-bottom: 2px solid var(--darkBlue);
                background: transparent;
            }
div.admin_content{
    width: calc(100% - 340px);
    height: calc(100vh - 40px);
    margin-left: 40px;
    background-color: #f8f8f8;
    box-shadow: 0px 6px 22px var(--lightGray);
    overflow-y: auto;
    padding: 0 20px;
}