*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    --lightBlue: #9CAAD8;
    --darkBlue: #424656;
    --lightGray: #A6ABBD;
    --lightPink: #DA9AA2;
    --darkGreen: #005A58;
}

div#todolist{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: var(--lightBlue);
}
    div.todolist_container{
        max-width: 1200px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        div.list_container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            box-sizing: border-box;
            background-color: var(--lightPink);
            margin: 20px 0;
            border-radius: 10px;
            transition: all 0.3s ease-in-out;
        }
            div.list_container:hover{
                transform: scale(1.01);
                transition: all 0.3s ease-in-out;
            }
            div.list_header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--darkBlue);
            }  
                div.list_header_right{
                    display: flex;
                }
                div.list_header i{
                    cursor: pointer;
                    font-size: 20px;
                    margin-left: 30px;
                }
                div.list_header h2:first-letter{
                    text-transform: uppercase;
                }
            div.list_content{
                padding: 50px 0;
            }
                div.list_item{
                    max-width: 800px;
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 2px solid var(--darkBlue);
                }
            div.list_footer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 10px 0;
            }
                div.list_footer form{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
                div.list_footer input{
                    width: 80%;
                    padding: 7px 12px;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid var(--darkGreen);
                    outline: none;
                }
                div.list_footer button{
                    padding: 7px 12px;
                    border: none;
                    background-color: var(--darkGreen);
                    color: #FFF;
                    outline: none;
                }
        