*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

:root{
    /* STANDARD COLORS */
    --white: #FFF;
    /* LIGHT COLORS */
    --lightBlue: #9CAAD8;
    --lightGray: #A6ABBD;
    --lightPurple: #e2c2fd;
    --lightPink: #DA9AA2;
    /* DARK COLORS */
    --darkBlue: #424656;
    --darkGreen: #005A58;
}

input.datetimeInput{
    padding: 5px 12px !important;
}

div#todolist{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    background-color: var(--white);
}
    div.todolist_container{
        max-width: 800px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
        div.todolist_header{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: var(--lightPurple);
            box-shadow: 11px 11px 22px var(--lightGray);
            padding: 20px;
            border-radius: 10px;
        }
            div.todolist_header_title{
                color: var(--darkBlue);
            }
            div.todolist_content{
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 20px 0;
            }
                div.todolist_content form{
                    width: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                }
                    div.edit_header{
                        width: 100%;
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        flex-direction: column;
                    }
                    div.edit_body{
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        padding: 20px 0;
                    }
                        div.edit_body .list_item{
                            width: 90%;
                            border: none !important;
                            justify-content: space-between;
                        }
                    div.todolist_content input{
                        width: 90%;
                        padding: 7px 12px;
                        border: none;
                        background: transparent;
                        border-bottom: 2px solid var(--darkBlue);
                        outline: none;
                    }
                    div.todolist_content button{
                        padding: 7px 12px;
                        border: none;
                        background-color: var(--darkGreen);
                        color: #FFF;
                        outline: none;
                        margin-top: 20px;
                    }
        div.list_container{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 20px;
            background-color: var(--lightPurple);
            margin: 20px 0;
            border-radius: 10px;
            box-shadow: 11px 11px 22px var(--lightGray);
            transition: all 0.3s ease-in-out;
        }
            div.list_container:hover{
                transform: scale(1.01);
                transition: all 0.3s ease-in-out;
            }
            div.list_header{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: var(--darkBlue);
            }  
                div.list_header_right{
                    display: flex;
                    align-items: center;
                }
                    div.list_header_right button{
                        background: transparent;
                        border: none;
                    }
                    div.list_header_right select{
                        padding: 5px 7px;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid var(--darkBlue);
                        margin-left: 30px;
                        outline: none;
                    }
                div.list_header i{
                    cursor: pointer;
                    font-size: 20px;
                    margin-left: 30px;
                    color: var(--darkBlue)
                }
                div.list_header h2:first-letter{
                    text-transform: uppercase;
                }
            div.list_content{
                width: 100%;
                padding: 50px 0;
            }
                div.list_item{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 10px 0;
                    border-bottom: 2px solid var(--darkBlue);
                }
                    div.list_item_status{
                        display: flex;
                        justify-content: space-evenly;
                        align-items: center;
                        flex-direction: row;
                    }
                        div.list_item_status div{
                            margin-left: 20px;
                        }
            div.list_footer{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 10px 0;
            }
                div.list_footer form{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
                div.list_footer input{
                    width: 40%;
                    padding: 7px 12px;
                    border: none;
                    background: transparent;
                    border-bottom: 2px solid var(--darkGreen);
                    outline: none;
                }
                div.list_footer button{
                    padding: 7px 12px;
                    border: none;
                    background-color: var(--darkGreen);
                    color: #FFF;
                    outline: none;
                }
        